<%- include('header'); -%>
<img src="<%= imageURL %>" alt="<%= weatherDescription %>" srcset="" />
<p class="lead">
  The weather in <span class="data"><%= cityName %>, <%= country %></span> is
  currently <span class="data"><%= weatherDescription %></span>.<br />
  The temperature is <span class="data"><%= temperature %>°C</span>.<br />
  Feels like <span class="data"><%= feelsLike %>°C</span>.
</p>
<%- include('footer'); -%>
