<%- include('header'); -%>
<img src="images/<%= icon %>.png" alt="<%= weatherDescription %>" />
<div class="main-block">
  <p class="lead">
    The weather in <span class="data"><%= cityName %>, <%= country %></span> is
    currently <span class="data"><%= weatherDescription %></span>.<br />
    The temperature is <span class="data"><%= temperature %>°C</span>.<br />
    Feels like <span class="data"><%= feelsLike %>°C</span>.
  </p>
</div>
<form class="form-inline" action="/" method="post">
  <input
    id="textInput"
    class="form-control mr-sm-2"
    type="text"
    placeholder="City Name"
    name="city"
  />
  <button id="formButton" class="btn btn-dark" type="submit" disabled>
    Search
  </button>
</form>

<script>
  const input = document.querySelector('#textInput');
  const button = document.querySelector('#formButton');
  input.onkeyup = () => {
    if (input.value) button.removeAttribute('disabled');
    else button.setAttribute('disabled', '');
  };
</script>
<%- include('footer'); -%>
